@model NET_CORE_PDF.Models.Persona

@{
    ViewData["Title"] = "Details";
}


<h3>LA SUSCRITA DIRECTORA DE GESTION HUMANA DE LA EMPRESA SII COLOMBIA SAS</h3>
<h3>CERTIFICA</h3>

<div>
    <p>
        Que el señor @Html.DisplayFor(model => model.Nombre)  @Html.DisplayFor(model => model.Apellido), identificado con @Html.DisplayFor(model => model.TipoDocumento) No. @Html.DisplayFor(model => model.Documento) labora en
        la empresa desde @Html.DisplayFor(model => model.FechaInicio) a la fecha desempeñando el cargo de @Html.DisplayFor(model => model.Cargo) con un contrato a termino indefinido.
    </p>

    <br /><br />

    <p>Para constancia de lo anterior se firma en Bogota a los treinta (30) dias del mes de septiembre de dos mil veinte (2020)</p>

    <br /><br />

    <p>Coordialmente</p>
    <br /><br />
    <p>AUGUST ALBERTO MARTINEZ PEREZ</p>
    <p>Directora de gestion humana</p>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
